#forum {
    border: solid #ffffff 3px;
    width: 14.1rem; 
    margin-top: 10rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right:1.5rem;
}

#scroll {
    max-height: 50rem;
    width: 30rem;
    margin-top: 5rem;
    padding-left: 1.5rem;
    padding-right:1.5rem;
    overflow: auto;
}

