.navbar-item:hover {
    /* background-color: rgba(255, 214, 235) !important; */
    background-color: rgba(240, 240, 240) !important;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
